  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <font color="black">¡PROYECTO FINAL!</font>
      </h1>
      <hr>
    </div>
    
    <div class="contenido" align="center">
      <div>
           Introduce el nombre de usuario:
              <input type="text" id="userid" name="user" /><br />
              <button type="button" id="usuario">Accede</button>
           <br/>
      </div>
      <br><br><br><br> 
      <table class="center" id="input">
        <tr><th>Escriba aquí una entrada CSV o bien</th></tr>
        <tr><th>Arrastre un fichero CSV hasta la zona de entrada</th></tr>
        <tr>
          <th>
            <textarea class = "drop_zone" autofocus="" cols = "80" rows = "5" name="original" id="original"></textarea>
          </th>
          <th>
            <button type="button" id="parse"> Analizar!</button>
          </th>
        </tr>
        <tr>
        </tr>
        <tr>
          <th>
            <div class="example">
              Click para cargar los Ejemplos:
              <button class ="example" type="button">Ejemplo1</button>
              <button class ="example" type="button">Ejemplo2</button>
              <button class ="example" type="button">Ejemplo3</button>
              <button class ="example" type="button">Ejemplo4</button>
            </div>
            <br>
            <div class="example2">
              Click para cargar los Usuario:
              <button class ="example2" type="button">Usuario1</button>
              <button class ="example2" type="button">Usuario2</button>
              <button class ="example2" type="button">Usuario3</button>
              <button class ="example2" type="button">Usuario4</button>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <br>
              Cargar archivo: 
              <input type="file" class="inputfile" />
          </th>
        </tr>
      </table>
    <br><br><br><br>
                    Nombre del fichero a guardar (en el Ejemplo4):
              <input type="text" id="id" /><br />
              <button  type="button" id="saving" >Guardar entrada</button>
              <br><br>
                    Nombre del fichero a guardar (en los Botones del Usuario):
              <input type="text" id="id2" /><br />
              <button  type="button" id="saving_usuario" >Guardar entrada</button>
              

      <div class="output" id="finaltable">
      </div>
    </div>
    
      <div class="footer">
        <div id="left">
          <li><a href="http://alu0100706734.github.io/">Juan Nicolás Vargas Moreno</a></li><br>
          <li><a href="http://alu0100814651.github.io/blog/index.html">Nitesh Gul Ramnani</a></li><br>
          <li><a href="http://alu0100763478.github.io/">Rossiel Dinosca González Ramírez</a></li><br>
        </div>
        <div id="right">
          <br><br>
          <a href="https://github.com/ULL-ESIT-GRADOII-DSI/proyecto-final-rossiel-nitesh-nico">ENLACE AL REPOSITORIO</a><br><br>
          <br><br>
        </div>
      </div>
  </div>
  </div>
