  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <font color="black">Comma Separated Values (CSV) Analyzer with Ajax</font>
      </h1>
      <hr>
    </div>
    
    <div class="contenido">
      <div>
           Introduce el nombre de usuario:
              <input type="text" id="userid" name="user" /><br />
              <button type="button" id="usuario">Accede</button>
           <br/>
       </div>
      <table class="center" id="input">
        <tr><th>Escriba aquí una entrada CSV o bien</th></tr>
        <tr><th>Arrastre un fichero CSV hasta la zona de entrada</th></tr>
        <tr>
          <th>
            <textarea class = "drop_zone" autofocus="" cols = "80" rows = "5" name="original" id="original"></textarea>
          </th>
          <th>
            <button type="button" id="parse"> Analizar!</button>
          </th>
        </tr>
        <tr>
        </tr>
        <tr>
          <th>
            <div class="example">
              Click para cargar ejemplos:
              <button class ="example" type="button">imput</button>
              <button class ="example" type="button">imput2</button>
              <button class ="example" type="button">imput3</button>
              <button class ="example" type="button">imput4</button>
              </div>
              
              <div class="example2">
              <button class ="example2" type="button">primo</button>
              <button class ="example2" type="button">primo1</button>
              <button class ="example2" type="button">primo2</button>
              <button class ="example2" type="button">primo3</button></button>
            </div>
          </th>
        </tr>
        <tr>
          <th>
              Cargar archivo: 
              <input type="file" class="inputfile" />
          </th>
        </tr>
      </table>
                    Nombre del fichero a guardar:
              <input type="text" id="id" /><br />
              <button  type="button" id="saving" >Guardar entrada</button>

      <div class="output" id="finaltable">
      </div>
    </div>
    
      <div class="footer"> 
              <li><a href="http://alu0100706734.github.io/">Juan Nicolás Vargas Moreno</a><br></li>
              <li><a href="http://alu0100814651.github.io/blog/index.html">Nitesh Gul Ramnani</a><br></li>
              <li><a href="http://alu0100763478.github.io/">Rossiel Dinosca González Ramírez</a><br></li>
      </div>
  </div>
  </div>
